nav h1 {
    color: dimgray;
    font-size: 45px;
}

nav a {
    color: gray;
    font-size: 20px;
}


h1{
    color:dimgray;
    font-size: 40px;
    text-transform: uppercase;
}

h2{
    color:dimgray;
    }

p{
    color: gray;
    font-weight: bold;
}

.subHeaders{
    color:brown;
    text-align: left;
    font-weight: bold;
}